.header-container {
  background-color: var(--header-bg-color);
  height: 70px;
}

.center-image-container {
  display: block;
  padding-top: 40px;
  text-align: center;
}

.center-image {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.glow {
  box-shadow: 0 0 20px 15px var(--glow-color);
}