header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  color: inherit;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--nav-item-bg-color);
  border-radius: 20px;
  padding: 10px 15px;
}

a {
  color: var(--nav-item-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--nav-item-hover-color);
}

@media (max-width: 767px) {
  header {
    flex-direction: column;
  }
  
  ul {
    flex-direction: column;
  }
  
  li {
    margin: 10px 0;
  }
}
